<%- include("header") -%>

    <h2>About</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet erat ac sapien malesuada malesuada. Proin ultrices ut risus quis vestibulum. Fusce vel vestibulum justo, vel pharetra sem. Quisque hendrerit, elit at feugiat aliquet, ipsum nisl
        venenatis sapien, a commodo quam ipsum sit amet eros. Etiam quis ligula ac quam pellentesque lacinia. Suspendisse ut ex ante. Etiam ex nibh, cursus nec rhoncus non, volutpat eget nibh. Sed et convallis ligula, sed aliquam magna. Curabitur ut varius
        erat. Nulla commodo nisl quis diam blandit lobortis. Donec commodo et neque eu feugiat. Vivamus non sagittis metus, sed faucibus augue. Nulla varius laoreet justo ut gravida. Donec sed leo orci. Proin at lectus gravida, faucibus ante vel, tempus
        lectus. Sed scelerisque magna eget egestas mollis. In sed nisi est. Quisque luctus et eros sed auctor. Phasellus aliquam pulvinar mauris id volutpat. Phasellus ullamcorper nulla ac sagittis laoreet. Nam volutpat pharetra elementum. Nulla facilisi.
        Morbi finibus nisl sed leo tristique, laoreet bibendum ligula suscipit. Praesent tristique turpis magna, fringilla volutpat ligula imperdiet ut. Mauris at lacinia mi, sit amet dictum eros. In leo neque, vulputate elementum lacus eu, porttitor
        elementum velit. Duis lobortis augue diam, sed laoreet est rutrum sed. Curabitur odio velit, aliquet non aliquet ut, hendrerit id turpis. Nam dapibus, dolor aliquet tincidunt semper, neque nisl fermentum mi, a vestibulum quam odio a felis. Aliquam
        a tellus felis. Ut sed magna varius, elementum lorem quis, maximus quam. Praesent lacinia nibh sed ipsum feugiat fermentum. Sed eros elit, sagittis et nulla vel, placerat pretium ex. Vestibulum blandit feugiat semper. Nam lobortis a nulla nec
        tristique. Nam nisl lorem, pharetra sit amet odio ut, consequat posuere mi. Nunc et elementum massa. </p>

    <%- include("footer") -%>